@import "reset";
@import "variables";

body {
    font-family: $font;
    background-color: $light;
    color: $dark;
    font-size: 1em;
}

h1 {
    text-align: center;
    line-height: 1.2em;
    padding-top: 30px;
    font-size: 3em;
}

.highlight {
    font-weight: 800;
    color: $red;
}

.logo {
    width: 80px;
    margin: 0 auto;
    padding: 20px 0;
}

h3 {
    display: flex;
    max-width: 300px;
    justify-content: center;
    margin: 10px auto;
    font-size: 1.4em;
    padding: 10px 5px;
    border: 2px solid $dark;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        border-color: $yellow;
        background-color: $yellow;
    }
}

.min-menu {
    max-width: 500px;
    height: 50px;
    margin: 0 auto;
    background-color: $light-bg;
    border-radius: 0 0 8px 8px;

    ul {
        max-width: 500px;
        justify-content: space-between;
    }

    li {
        padding: 10px 20px;
    }
}

.shuffle {
    padding-top: 5px;
}

.shuffle-menu {
    position: relative;
    top: 6px;
    font-size: 1.2em;
}

.dif-col {
    position: absolute;
    margin-left: 5px;
    font-size: 1.5em;

    &.Easy {
        color: $green;
    }
    &.Medium {
        color: $yellow;
    }
    &.Hard {
        color: $red;
    }
}

.pause {
    margin-right: 27px;
}

.pause-icon {
    font-size: 1.7em;
    position: absolute;

    &:hover {
        cursor: pointer;
        color: $red;
    }
}

ul {
    display: flex;
    max-width: 300px;
    margin: 0 auto;
    list-style: none;
    justify-content: space-evenly;
    height: 40px;
}

li {
    font-size: 1.2em;
    font-weight: 600;

    &.difficulty {
        padding: 5px 10px;
        &:hover {
            cursor: pointer;
            border-radius: 15px;

            &.green {
                background-color: $green;
            }

            &.yellow {
                background-color: $yellow;
            }

            &.red {
                background-color: $red;
            }
        }
    }

    &.operator {
        width: 30px;
        height: 30px;
        text-align: center;
        border: 2px solid $light;
        &:hover {
            cursor: pointer;
            border-radius: 100%;
            border: 2px solid $red;
        }
    }

    &.duration {
        padding: 5px 10px;
        &:hover {
            cursor: pointer;
            border-bottom: 4px solid $yellow;
        }
    }
}

.green-bg {
    border-radius: 15px;
    background-color: $green;
}

.yellow-bg {
    border-radius: 15px;
    background-color: $yellow;
}

.red-bg {
    border-radius: 15px;
    background-color: $red;
}

.operator {
    &.chosen {
        border-radius: 100%;
        border: 2px solid $red;
    }
}

.duration {
    &.chosen {
        border-bottom: 4px solid $yellow;
    }
}
.go {
    display: block;
    margin: 50px auto;
    background-color: $green;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    font-size: 2em;
    color: $light;
    font-weight: 600;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: $dark;
    }
}

.resume {
    display: block;
    margin: 50px auto;
    padding: 10px 0 0 5px;
    background-color: $green;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    font-size: 2em;
    color: $light;
    font-weight: 600;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: $dark;
    }
}

.sum {
    max-width: 500px;
    font-size: 35px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 80px auto;
}

.answer {
    width: 70px;
    margin-left: 15px;
    border-radius: 10px;
    color: $dark;
    background-color: $light;
    border: 1px solid $dark;
    text-align: center;
    padding: 0 5px;
}

// .submit {
//     background-color: $light;
//     border: none;
//     color: $yellow;
//     font-size: 1.5em;
//     position: relative;
//     top: 15px;

//     &:hover {
//         cursor: pointer;
//         color: $green;
//     }
// }

.data {
    display: flex;
    max-width: 500px;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 5px;
    align-items: center;
}

.scoreTxt {
    text-align: center;
    font-size: 1.5em;
}

.score {
    font-weight: 600;
    color: $green;
    padding-right: 20px;
}

.result {
    text-align: center;
    padding: 2px 0;
    font-size: 1.7em;
    font-weight: 500;
    font-style: italic;
    height: 35px;
}

#timer {
    padding-left: 20px;
    font-size: 1.4em;
    text-align: center;
}

.review {
    text-align: center;
    margin-top: 10vh;

    h2 {
        font-size: 2em;
    }

    .final-score {
        font-size: 3em;
        color: $green;
        font-weight: 600;
    }

    .feedback {
        font-size: 1.5em;
        font-weight: 600;
    }

    .star {
        border: 2px solid $yellow;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: inline-block;
    }
}

.s1.fill,
.s2.fill,
.s3.fill,
.s4.fill,
.s5.fill {
    background-color: $yellow;
}

.restart {
    position: absolute;
    bottom: 50px;
    right: calc(50vw - 30px);
    font-size: 2.5em;
    color: $yellow;
    padding: 10px;
    background-color: $dark;
    border-radius: 100%;
    transition-duration: 2s;

    &:hover {
        cursor: pointer;
        transform: rotate(180deg);
    }
}

.numbers {
    display: none;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;

    td {
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        border: 1px solid $dark;
        width: 120px;
        height: 80px;

        &:hover {
            cursor: pointer;
        }
    }
}

.icons {
    margin: 20px 0;
    text-align: center;
}

.icon {
    color: $dark;
    font-size: 2.5em;
    margin: 0 20px;

    &:hover {
        cursor: pointer;
        &.quit {
            color: $red;
        }
        &.info {
            color: $green;
        }
    }
}

.about {
    display: none;

    h4 {
        text-align: center;
    }

    .version {
        text-align: center;
    }

    .paragraph {
        margin: 20px 0;
    }

    a {
        font-weight: bold;
        color: $green;
    }

    .center {
        text-align: center;
        padding-top: 20px;
    }

    .content {
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%);
        max-width: 400px;
        padding: 20px;
        background-color: $light;
        border-radius: 30px;
        z-index: 10;

        .close {
            position: absolute;
            top: -55px;
            right: -55px;
            color: $red;
            font-size: 50px;

            &:hover {
                cursor: pointer;
            }
        }

        img {
            width: 50px;
            position: absolute;
            top: 15px;
        }
    }

    &::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: $dark;
        z-index: 5;
    }
}

@media #{$bp_tablet} {
    body {
        overflow: visible;
    }
    .numbers {
        display: table;
    }

    .submit {
        display: none;
    }

    .about.content {
        min-width: 350px;
    }
}

@media #{$bp_mobile} {
    body {
        font-size: 13px;
    }

    h1 {
        font-size: 2em;
    }

    ul {
        height: 32px;
    }

    .operator {
        font-size: 1.7em;
    }

    .shuffle-menu {
        top: 4px;
    }

    .sum {
        margin: 10px auto;
    }

    .go {
        margin: 30px auto;
        font-size: 18px;
    }

    .about {
        .content {
            min-width: 250px;
            margin: 2px;
            font-size: 15px;

            .close {
                top: -55;
                right: 0;
                color: $red;
                font-size: 50px;
            }
            img {
                position: relative;
                top: -10px;
                margin: 0 auto;
            }
        }
    }

    .numbers {
        position: fixed;
        bottom: 0;

        td {
            width: 33vw;
            height: 70px;
        }
    }
}

@media #{$bp_xs} {
    .sum {
        min-width: 270px;
        font-size: 30px;
    }
    .operator {
        font-size: 22px;
    }
    // .submit {
    //     font-size: 40px;
    //     position: relative;
    //     top: 11px;
    // }
}

.hide {
    display: none;
}

// Remove arrows from number input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
